body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0; /* Define a margem do elemento*/
    padding: 0;
    background-color: #b83030;   
}

header {
    background-color: #333;
    color: #4fd15a;
    margin: 20px;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #98cb9c;
    margin: 20px;
}

nav ul {
    background-color: #db3477;
    display: flex;
    list-style: none;
    justify-content: center; /* Centraliza os itens do menu */
    gap: 20px; /* Adiciona espaçamento entre os itens do menu */
}

nav a {
    color: #b622a7;
    text-decoration: none;

}   

main {
    background-color: #5530e8;
    margin: 70px;
    padding: 30px;
}

main aside ul {
    background-color: #ce94ab;
    display: flex;
    list-style: none;
    justify-content: center; /* Centraliza os itens do menu */
    gap: 20px; /* Adiciona espaçamento entre os itens do menu */
}

#lala {
    background-color: #f95999;
    margin: 40px;
}